<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app1yyg.oss-cn-huhehaote.aliyuncs.com/demo.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>下载时大图(非必填)</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>下载时小图(非必填)</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>shop.yipingou.app</string>
				<key>bundle-version</key>
				<string>3.7.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>新型购物平台 购物与乐趣同在</string>
				<key>title</key>
				<string>酷购</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
